body {
height: 100vh;
margin: 0;
width: 100%;
background-color: #e1e1e1;
}
.header {
height: 20%;
background-color: #424242;
margin: 0 auto;
}
.main {
height: 70%;
width: 75%;
background-color: #ffffff;
margin: 0 auto;
}
.footer {
height: 10%;
background-color: #262626;
width: 75%;
margin: 0 auto;
}